html, body {
  height: 100%;
  margin: 0;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background: url("./farming-less-agriculture-svgrepo-com.svg");
  background-repeat: repeat; /* Repeat the SVG */
  background-size: auto; /* Keep the SVG at its actual size */
  font-family: "Arial", sans-serif;
}

